.Verse {
  margin-bottom: 20px;
  line-height: 1.5em;
  position: relative;
  padding-left: 50px;
  margin-left: -50px;
}

.Verse:last-of-type {
  margin-bottom: 0;
}

.song-line {
  display: block;
}

.delete {
  position: absolute;
  left: 0;
  top: 50%;
  height: 22px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.Verse:hover .delete {
  opacity: 1;
}

.circle {
  fill:none;
  stroke:#DFA9A9;
  stroke-width:2;
  transition: all 0.1s ease-out;
}

.line {
  fill:none;
  stroke:#DFA9A9;
  stroke-width:2;
  stroke-linejoin:round;
  transform-origin: center center;
  transition: all 0.1s ease-out;
}

#delete-icon:hover .line,
#delete-icon:hover .circle {
  stroke: #dd6c6c;
}

#delete-icon:hover .line-1 {
  transform: rotate(45deg)
}

#delete-icon:hover .line-2 {
  transform: rotate(-45deg)
}