.App {
  display: flex;
  height: max-content;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
}

h1 {
  font-family: ABeeZee;
  text-align: center;
}

.song {
  padding: 3.5rem 5.5rem;
  min-height: 900px;
}

ul {
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
}

ul li:focus {
  outline: none;
}

.Verse {
  line-height: 1.5em;
  position: relative;
  padding: 15px 50px;
  margin: 0 -50px;
  border-radius: 6px;
}

.Verse-custom:hover {
  background-color: hsl(0, 0%, 95%);
}

.Verse:hover .delete {
  opacity: 1;
}

.song-line {
  display: block;
}

.delete {
  position: absolute;
  left: 15px;
  top: 50%;
  height: 22px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.circle {
  fill:none;
  stroke:#DFA9A9;
  stroke-width:2;
  transition: all 0.1s ease-out;
}

.line {
  fill:none;
  stroke:#DFA9A9;
  stroke-width:2;
  stroke-linejoin:round;
  transform-origin: center center;
  transition: all 0.1s ease-out;
}

#delete-icon:hover .line,
#delete-icon:hover .circle {
  stroke: #dd6c6c;
}

#delete-icon:hover .line-1 {
  transform: rotate(45deg)
}

#delete-icon:hover .line-2 {
  transform: rotate(-45deg)
}

.new-verse {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.new-verse:focus {
  outline: none;
}

.new-verse:hover #add-icon {
  transform: rotate(90deg)
}

.new-verse:hover #add-new-verse {
  color: #8a8a8a;
}

.edit-icon {
  width: 22px;
  height: 22px;
}

.plus-icon {
  fill:none;
  stroke:#66BB6A;
  stroke-width:2;
  stroke-linejoin:round;
}

#add-icon {
  transform-origin: center center;
  transition: all 0.2s ease-out;
}

#add-new-verse {
  color: #505050;
  font-weight: 500;
  margin-left: 12px;
  transition: all 0.2s ease-out;
  padding: 15px 0;
}

.App .bg-credit:link,
.App .bg-credit:visited,
.App .bg-credit:hover {
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  color: #2e5181;
  margin-top: 3em;
  margin-bottom: -3em;
}

@media screen and (max-width: 560px) {

  .App {
    margin: 1em;
  }

  h1 {
    font-size: 1.6em;
  }

  .song {
    padding: 1em 2em;
  }

  .Verse {
    padding: 15px 15px;
    margin: 0;
  }

  .delete {
    left: unset;
    right: 15px;
  }

  .App .bg-credit:link {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 450px) {
  .App {
    margin: 0
  }

  .song {
    border-radius: 0;
    padding: 1em;
  }

  .App .bg-credit:link {
    margin-top: 1em;
  }
}