.App {
  display: flex;
  min-width: 560px;
  height: max-content;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
}

h1 {
  font-family: ABeeZee;
  text-align: center;
}

.song {
  padding: 3.5rem 5.5rem;
  min-height: 900px;
}

.new-verse {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.new-verse:hover #add-icon {
  transform: rotate(90deg)
}

.new-verse:hover #add-new-verse {
  color: #70a862;
}

.edit-icon {
  width: 22px;
  height: 22px;
}

.plus-icon {
  fill:none;
  stroke:#70a862;
  stroke-width:2;
  stroke-linejoin:round;
}

#add-icon {
  transform-origin: center center;
  transition: all 0.2s ease-out;
}

#add-new-verse {
  color: #505050;
  font-weight: 500;
  margin-left: 12px;
  transition: all 0.2s ease-out;
  padding: 15px 0;
}

.App .bg-credit:link,
.App .bg-credit:visited,
.App .bg-credit:hover {
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  color: #2e5181;
  margin-top: 3em;
  margin-bottom: -3em;
}