.word {
  padding: 3px 5px;
  border-radius: 4px;
  transition: all 0.1s ease-out;
}

.Verse-custom:hover .word {
  background-color: #c4c4c4;
}

.Verse-custom:hover .input,
.Verse-custom:hover .word:hover {
  background-color: #b4d4a4;
}

.input {
  background-color: #b4d4a4;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 3px 5px;
  border-radius: 4px;
  white-space: 
}

.input:hover {
  background-color: #b4d4a4;
}

.input:focus {
  outline: none;
}