.word {
  color: #509b50;
}

.word:hover {
  background-color: #e5e5e5;
}

.input {
  background-color: #e5e5e5;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0;
}

.input:hover {
  background-color: #e5e5e5;
}

.input:focus {
  outline: none;
}