.song-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 82%;
  top: 5.1em;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.nav-arrow {
  fill: #c4c4c4;
  width: 30px;
  height: 30px;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(2px)
  }

  75% {
    transform: translateX(-2px)
  }

  100% {
    transform: translateX(0)
  }
}

.song-nav svg:hover {
  filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.25));
  transition: all 0.3s;
  fill: #009688;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

#nav-arrow-path-left {
  transform-origin: center center;
  transform: rotate(180deg);
}

@media screen and (max-width: 560px) {
  .song-nav {
    top: 2.2em;
  }
}